<div>
      <div class="frontpageuser-container">
          <div id="container" class="frontpageuser-container1">
              <span class="frontpageuser-text">Lucky White Vet</span>
              <img alt="image" src="https://cdn3.iconfinder.com/data/icons/animals-105/150/icon_animal_cachorro-128.png" class="frontpageuser-image"/>
          </div>
          <div class="frontpageuser-edit-container">
              <div class="frontpageuser-edit-container-inputs">
                  <span class="frontpageuser-edit">Who Should I Love?</span>
                  <button class="frontpageuser-btnrefresh button">Refresh</button>
                  <button class="frontpageuser-btnlogout button">Logout</button>
                  <button class="frontpageuser-btnadopt button">Adopt</button>
              </div>
          </div>
      </div>
  </div>