<div>
    <div class="loginuser-container">
        <div id="container" class="loginuser-container1">
            <div class="loginuser-container2">
                <img alt="image" src="https://cdn3.iconfinder.com/data/icons/animals-105/150/icon_animal_cachorro-128.png" class="loginuser-image"/>
                
                <span class="loginuser-admin">Username</span>			
                <input type="text" class="loginuser-txt-username input"/>
                
                <span class="loginuser-pass">Password</span>
                <input type="text" class="loginuser-txtpass input"/>
                
                <span class="loginuser-text">Forget Password?</span>
                <button class="loginuser-btnlogin button">Login</button>
            </div>
        </div>
  </div>
</div>