<div>
    <div class = "confirmpage-container">
        <div id = "container" class = "confirmpage-container1">
            <div class = "confirmpage-container-inputs">
                <img alt="image" src="https://cdn3.iconfinder.com/data/icons/animals-105/150/icon_animal_cachorro-128.png" class="confirmpage-image"/>
                <span class = "confirmpage-text"> Congrats On Your New Adopter Furbaby!</span>
                <a routerLink = "/front-user"><button class="confirmpage-btnthank button">Thank You</button></a>
            </div>
        </div>
    </div>
</div>
