
   

 

      <div>
        <div class="frontpageadmin-container">
              <div id="container" class="frontpageadmin-container1">
                  <span class="frontpageadmin-text">Lucky White Vet</span>
                  <img alt="image" src="https://cdn3.iconfinder.com/data/icons/animals-105/150/icon_animal_cachorro-128.png" class="frontpageadmin-image"/>
              </div>
              <div class="frontpageadmin-edit-container">
                  <div class="frontpageadmin-edit-container-inputs">
                      <span class="frontpageadmin-edit">Dogs Information</span>
                      <button class="frontpageadmin-btnrefresh button">Refresh</button>
                      <button class="frontpageadmin-btnlogout button">Logout</button>
                      <button class="frontpageadmin-btncreate button">Create</button>
                      <button class="frontpageadmin-btndelete button">Delete</button>
                  </div>
              </div>
              
        </div>
        <div class="mt-5">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Breed</th>
                <th>Age</th>
                <th>Weight</th>
                <th>Height</th>
                <th>status</th>
              </tr>
            </thead>
            <tbody class="tbody">
              <tr *ngFor="let dog of dogs">
                <td>{{dog.id}}</td>
                <td>{{dog.name}}</td>
                <td>{{dog.breed}}</td>
                <td>{{dog.age}}</td>
                <td>{{dog.weight}}</td>
                <td>{{dog.height}}</td>
                <td>{{dog.status}}</td>
               
      
                <td><button  type="button" class="btn btn-primary" (click)="edit(dog)" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button></td>
                <td><button type="button" class="btn btn-danger" (click)="removeDog(dog)" >Delete</button></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>