* {
    font-family: Inter;
    font-size: 16px;
  }

  body {
    font-weight: 400;
    font-style:normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.15;
    color: var(--dl-color-gray-black);
    background-color: var(--dl-color-gray-white);

  }
.landingpage-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .landingpage-container-inputs {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 765px;
    bottom: 0px;
    height: 600px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .landingpage-image {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 175px;
    height: 175px;
    margin: auto;
    position: absolute;
    object-fit: cover;
  }
  .landingpage-btnadmin {
    top: 384px;
    left: 244px;
    color: rgb(255, 255, 255);
    width: 115px;
    height: 45px;
    position: absolute;
    text-align: center;
    line-height: 1.5;
    background-color: rgba(89, 89, 89, 0.68);
  }
  .landingpage-btn-user {
    top: 384px;
    left: 408px;
    color: rgb(255, 255, 255);
    width: 115px;
    height: 45px;
    position: absolute;
    text-align: center;
    line-height: 1.5;
    background-color: rgba(89, 89, 89, 0.68);
  }
  .landingpage-container1 {
    top: 166px;
    left: 62px;
    width: 665px;
    height: 125px;
    display: flex;
    position: absolute;
    align-self: stretch;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(144, 230, 161, 0.64);
  }
  .landingpage-text {
    top: 41px;
    left: 138px;
    width: 390px;
    margin: auto;
    position: absolute;
    font-size: 50px;
    text-align: left;
  }
  .landingpage-text1 {
    top: 311px;
    left: 46px;
    width: 700px;
    margin: auto;
    position: absolute;
    font-size: 25px;
    text-align: left;
  }
  