<div>
    <div class="landingpage-container">
        <div class="landingpage-container-inputs">
            <img lt="image" src="https://cdn3.iconfinder.com/data/icons/animals-105/150/icon_animal_cachorro-128.png" class="landingpage-image"/>
            <button class="landingpage-btnadmin button">Admin</button>
            <button class="landingpage-btn-user button">User</button>
            <div id="container" class="landingpage-container1">
                <span class="landingpage-text">Lucky White Vet</span>
            </div>
        <span class="landingpage-text1"> Dogs are not out whole life, but they make our lives whole</span>
        </div>
    </div>
</div>