* {
    font-family: Inter;
    font-size: 16px;
  }

  body {
    font-weight: 400;
    font-style:normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.15;
    color: var(--dl-color-gray-black);
    background-color: var(--dl-color-gray-white);

  }

.editpage-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .editpage-container1 {
    width: 100%;
    height: 117px;
    display: flex;
    position: relative;
    align-self: flex-end;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(144, 230, 161, 0.64);
  }
  .editpage-text {
    font-size: 90px;
  }
  .editpage-image {
    left: 39px;
    width: 122px;
    bottom: 0px;
    height: 114px;
    position: absolute;
    object-fit: cover;
  }
  .editpage-edit-container {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .editpage-edit-container-inputs {
    top: 74px;
    left: 0px;
    right: 0px;
    width: 1011px;
    height: 471px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .editpage-image1 {
    top: 98px;
    left: 7px;
    width: 279px;
    height: 243px;
    position: absolute;
    object-fit: cover;
  }
  .editpage-edit {
    top: 0px;
    left: 0px;
    position: absolute;
    font-size: 80px;
  }
  .editpage-age {
    top: 229px;
    right: 343px;
    position: absolute;
    font-size: 25px;
  }
  .editpage-txtage {
    right: 307px;
    width: 84px;
    bottom: 153px;
    height: 54px;
    position: absolute;
  }
  .editpage-breed {
    top: 227px;
    left: 316px;
    position: absolute;
    font-size: 25px;
  }
  .editpage-txtbreed {
    left: 316px;
    width: 299px;
    bottom: 153px;
    height: 54px;
    position: absolute;
  }
  .editpage-id {
    left: 88px;
    bottom: 96px;
    position: absolute;
    font-size: 20px;
  }
  .editpage-code {
    left: 125px;
    bottom: 99.609375px;
    position: absolute;
  }
  .editpage-width {
    top: 106px;
    right: 214px;
    position: absolute;
    font-size: 25px;
  }
  .editpage-txtwidth {
    top: 144px;
    right: 149px;
    width: 135px;
    height: 54px;
    position: absolute;
  }
  .editpage-height {
    top: 106px;
    right: 57px;
    position: absolute;
    font-size: 25px;
  }
  .editpage-txtheight {
    top: 144px;
    right: 0px;
    width: 135px;
    height: 54px;
    position: absolute;
  }
  .editpage-name {
    top: 105px;
    left: 318px;
    position: absolute;
    font-size: 25px;
  }
  .editpage-txtname {
    top: 142px;
    left: 317px;
    width: 387px;
    height: 54px;
    position: absolute;
  }
  .editpage-btnupt {
    color: #ffffff;
    right: 136px;
    width: 115px;
    bottom: 0px;
    height: 45px;
    position: absolute;
    text-align: center;
    line-height: 1.5;
    background-color: rgba(89, 89, 89, 0.68);
  }
  .editpage-btncancel {
    color: rgb(255, 255, 255);
    right: 6px;
    width: 115px;
    bottom: 0px;
    height: 45px;
    position: absolute;
    text-align: center;
    line-height: 1.5;
    background-color: rgba(89, 89, 89, 0.68);
  }
  